.env
.idea
.vscode
.history
.php-cs-fixer.cache
.DS_Store
.bash_history
/*.xml
/*.log
/*.html
/urlrewrite.php
/.htaccess
/.htsecure
/.htpasswd

upload/*
!upload/.htaccess

local/docker/bash_history/*
!local/docker/bash_history/.gitkeep

local/vendor/
local/modules/sprint.migration
